<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700470601855-f7rdc4ccq6rakdf3b4vm4cr8vbarfrn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700470601855-f7rdc4ccq6rakdf3b4vm4cr8vbarfrn2</string>
	<key>API_KEY</key>
	<string>AIzaSyBJxTRLLX2ZwK_ojjoLXdi5BEHAo6dPQnY</string>
	<key>GCM_SENDER_ID</key>
	<string>700470601855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.myapp.FireBaseTestApp</string>
	<key>PROJECT_ID</key>
	<string>fir-storage-8814b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storage-8814b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700470601855:ios:0d9592c3978731b3d5774a</string>
</dict>
</plist>